$fontPrimary: Source Sans Pro;

.brand-link .brand-image-logo {
    margin-left: 0.8rem;
    margin-right: 0.5rem;
    max-height: 46px;
    width: auto;
}

.user-panel .image {
    margin-top: 2px;
}

#image_perfil {
    font-size: 2rem;
    border: 1px solid #fff;
    color: #fff;
    padding: 2px 4px;
    background: linear-gradient(180deg, rgba(9, 9, 121, 1) 0%, rgba(0, 0, 0, 1) 100%);
}

#user_name {
    color: #fff;
    font-weight: bold;
}

.btn-custom i {
    font-size: 1.8rem;
    cursor: pointer;
}

.btn-faq {
    background-color: #e3e3e3;
    color: #fff;
    border-radius: 0.25rem;

    :hover {
        color: #000;
    }
}

.btn-close-times {
    position: absolute;
    right: 0;
    background-color: #ff0000;
    border-radius: 50%;
    color: #fff;
    margin-top: -8px;
}

.swal2-deny {
    padding: .375rem .75rem;
    font-size: 1rem;
}

.select2-container {
    max-width: 100%;
}
.tarefas{
    .nav-link {
        font-family: $fontPrimary;
        font-style: normal;
        font-weight: bold;
        font-size: 18.4512px;
        color: #343a40;
    }

    .nav-pills .nav-link.active,
    .nav-pills .show > .nav-link {
        color: rgb(0, 0, 0);
        background-color: transparent !important;
    }
}
.coment-corpo{
    height: 300px;
    overflow-y: scroll;
}
.coment{
    span{
        font-family: $fontPrimary;
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
    }
}
.bg-azul{
    background-color: #EBF8FF;
}
.titulo-tarefa {
    h3 {
        font-family: $fontPrimary;
        font-style: normal;
        font-weight: 900;
        font-size: 24px;
        line-height: 10px;
        color: #343a40;
    }
    span {
        font-family: $fontPrimary;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        color: #a29191;
    }
}
.lateral {
    text-align: center;
    margin-top: 25px;
    div{
        margin: 8px 0;
    }
    h4 {
        font-family: $fontPrimary;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
    }

    h3 {
        font-family: $fontPrimary;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;

    }
}
